<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="simpleTypesDemo" class="com.github.kospiotr.spring.SimpleTypesDemo">
        <property name="sampleString" value="TestingString"/>
        <property name="sampleIntiger" value="100"/>
        <property name="sampleDouble" value="99.99"/>
        <property name="sampleList">
            <list>
                <value>pechorin@hero.org</value>
                <value>raskolnikov@slums.org</value>
                <value>stavrogin@gov.org</value>
                <value>porfiry@gov.org</value>
            </list>
        </property>
        <property name="sampleSet">
            <set>
                <value>pechorin@hero.org</value>
                <value>raskolnikov@slums.org</value>
                <value>stavrogin@gov.org</value>
                <value>porfiry@gov.org</value>
            </set>
        </property>
        <property name="sampleMap">
            <map>
                <entry key="pechorin" value="pechorin@hero.org"/>
                <entry key="raskolnikov" value="raskolnikov@slums.org"/>
                <entry key="stavrogin" value="stavrogin@gov.org"/>
                <entry key="porfiry" value="porfiry@gov.org"/>
            </map>
        </property>
    </bean>

</beans>